body {
    margin: 0;
    font-family: sans-serif;
}
.smile_box {
    width: 50%;
    border: 1px solid purple;
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
    background-color: #efc0da;
}
